{release, {rest_api, "1"}, [rest_api,observer,wx,runtime_tools]}.
{extended_start_script, true}.
{lager, [
  {log_root, "/home/papachan/log/"},
  {handlers, [
    {lager_console_backend, info},
    {lager_file_backend, [{file, "error.log"}, {level, error}]},
    {lager_file_backend, [{file, "console.log"}, {level, info}]}
  ]}
]}.
{vm_args, "./etc/vm.args"}.